{% load static %}

<div class="row">
    <div class="col-2">
        <h1>Smartphones Tailored <br>Just for You</h1>
        <p>Welcome to our smartphone paradise! Explore our vast selection of the latest and greatest mobile devices, from sleek iPhones to powerful Androids, all at unbeatable prices. Whether you're upgrading, switching, or simply browsing, find your perfect match here!</p>
        <a href="/product_list" class="btn">Explore Now &#8594;</a>
    </div>
    <div class="col-2">
        <img src="{% static 'images/file (1).png'%}" style="width: 400px;margin-left: 100px;">
    </div>
</div>
