{% load static %}



<!-- Featured Products -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        {% for product in featured %}
        <div class="col-4" >
            <a href="{% url 'product_detail' product.id  %}"><img src="{{ product.image.url }}" style="width:175px;height: 200px;" ></a>
            <h3>{{ product.title }}</h3>
            
            <p>{{ product.price }}</p>
        </div>
        {% endfor %}
    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
        {% for product in latest %}
        <div class="col-4" >
            <a href="{% url 'product_detail' product.id  %}"><img src="{{ product.image.url }}" style="width:175px;height: 200px;" ></a>
            <h3>{{ product.title }}</h3>
            
            <p>{{ product.price }}</p>
        </div>
        {% endfor %}
    </div>
  
</div>
